<h2>
    Sahil Mittal
</h2>
<h4> President, Nakshatra NITT</h4>
<div style="display: flex">
<svg class="icon icon-envelope">
    <use xlink:href="#icon-envelope"></use>
</svg>
<a href="mailto:nakshatra@nitt.edu" style="margin-left: 10px;">nakshatra@nitt.edu</a>
<br>
</div>
<div style="display: flex">
<svg class="icon icon-envelope">
    <use xlink:href="#icon-envelope"></use>
</svg>
<a href="mailto:nakshatranitt@gmail.com" style="margin-left: 10px;">nakshatranitt@gmail.com</a>
<br>
</div>
<div style="display: flex">
<svg class="icon icon-phone">
    <use xlink:href="#icon-phone"></use>
</svg>
<a href="tel:+917973703540" style="margin-left: 10px;">+91 79737 03540</a>
</div>