{% for file in site.static_files %}
{% if file.path contains "assets/images/gallery/" %}
{% assign extensions = ".jpg .jpeg .png .gif .jfif" | split: " " %}
{% if extensions contains file.extname %}

{% assign filenameparts = file.path | split: "/" %}
{% assign filename = filenameparts | last | replace: file.extname,"" %}
<div class="slide">
    <a href="{{ site.url }}{{ site.baseurl }}{{ file.path }}" title="{{ filename }}">
        <img loading="lazy"
            data-src="https://images.weserv.nl/?url={{ site.url }}{{ site.baseurl }}{{ file.path }}&w=800&output=jpg&q=50"
            alt="{{ filename }}" style="max-width: 100%; max-height: 100%;" />
    </a>
</div>
{% endif %}
{% endif %}
{% endfor %}